# Header set Access-Control-Allow-Origin "*"

<IfModule mod_headers.c>
    #Header set Access-Control-Allow-Origin https://kalender.corporate-happiness.de
    Header always append Access-Control-Allow-Origin: "https://kalender.corporate-happiness.de"
    Header always append Access-Control-Allow-Origin: "https://dr-oliver-haas.de"
    Header always append Access-Control-Allow-Origin: "https://www.dr-oliver-haas.de"
    
    Header set Access-Control-Allow-Credentials true
</IfModule>
